/*
1.Position Absolute; - remove from document overflow
2.Position Relative; 
3.Position Fixed; Same as Absolute 
4.Position Sticky;
*/

body{
    background-color: grey;
    height: 2000px;
}
section{
    width: 500px;
    margin: 0 auto;
    background-color: #fff;
    height: 500px;
}

.child-1{
    background-color: red;
    width: 150px;
    height: 150px;
    position: sticky;
    top: 0;
}
.child-2{
    background-color: palevioletred;
    width: 150px;
    height: 150px;
}